sbatch_logs/
*.ipynb
logs/
*.sh
.vscode/
__pycache__/
caption_eval/
hf_gpt2.py
og_train.py
sweep_config.yml
wandb/
config_siglip.yml
data/coco-train-idxs.p
data/coco-train-words.p
data/img_cap_self_retrieval_clip/
